<div class="border-bottom text-center">
  <h1>入力条件</h1>
</div>
<%= form_with(model: @menu, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :purpose, '目的' %>
    <%= f.select :purpose, {'体を大きくしたい': '体を大きくしたい', '運動不足を解消したい': '運動不足を解消したい', '体脂肪を落としたい': '体脂肪を落としたい'}, { include_blank: '選択してください。'}, {class: 'form-control', required: true} %>
  </div>

  <div class="form-group">
    <%= f.label :budget, '初期費用' %>
    <%= f.select :budget, {'3000円以下': 3000, '5000円以下': 5000, '8000円以下': 8000, '12000円以下': 12000, '15000円以下': 15000}, { include_blank: '選択してください。'}, {class: 'form-control', required: true} %>
  </div>

  <div class="form-group">
    <%= f.submit '検索', class: 'btn btn-primary btn-block' %>
  </div>
<% end %>