<div class="border-bottom text-center">
  <h1>入力条件</h1>
</div>
<%= form_with(model: @menu, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :purpose, '目的' %>
    <%= f.select :purpose, {'筋肉を大きくしたい': '筋肉を大きくしたい'}, { include_blank: '選択してください。'}, {class: 'form-control', required: true} %>
  </div>

  <div class="form-group">
    <%= f.label :budget, '予算' %>
    <%= f.select :budget, {'10000円以下': 10000}, { include_blank: '選択してください。'}, {class: 'form-control', required: true} %>
  </div>

  <div class="form-group">
    <%= f.label :protein_flavor, 'プロテインの味' %>
    <%= f.select :protein_flavor, {'甘め': '甘め'}, { include_blank: '選択してください。'}, {class: 'form-control', required: true} %>
  </div>

  <div class="form-group">
    <%= f.label :amino_flavor, 'アミノ酸の味' %>
    <%= f.select :amino_flavor, {'甘すぎない': '甘すぎない'}, { include_blank: '選択してください。'}, {class: 'form-control', required: true} %>
  </div>


  <div class="form-group">
    <%= f.submit '検索', class: 'btn btn-primary btn-block' %>
  </div>
<% end %>