<% if supplements.any? %>
  <div class="row mb-4">
    <% supplements.each do |supplement| %>
      <div class="col-sm-6 col-md-3">
        <div class="suppl-box">
          <div class="suppl-img text-center">
            <%= supplement.img.html_safe %>
          </div>
          <p class="text-center">
            <%= supplement.suppl_name %></br>
            <%= supplement.flavor %></br>
            価格：<%= supplement.price %>円
          </p>
          <div class="mb-2" id="favorite_button_<%= supplement.id %>">
            <% if logged_in? %>
              <%= render 'favorites/like_button', supplement: supplement %>
            <% end %>
          </div>
          <div>
            <% if logged_in? %>
              <%= render 'calendars/using_button', supplement: supplement %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="pagination">
    <p><%= paginate supplements %></p>        
  </div>
<% end %>
