<div class="border-bottom text-center mb-4">
  <h1>商品検索</h1>
</div>
  <%= form_with url: search_supplements_path, method: :get, local: true do |f| %>
    <div class="row">
      <div class="form-group col-sm-6">
        <%= f.select :item_name, {'プロテイン': 'プロテイン', 'アミノ酸': 'アミノ酸', 'ビタミン・ミネラル': 'ビタミン・ミネラル'}, { include_blank: 'アイテム名'}, {class: 'form-control'} %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-6">
        <%= f.select :price, {'10000円以下': 10000, '8000円以下': 8000, '5000円以下': 5000, '3000円以下': 3000}, { include_blank: '価格'}, {class: 'form-control'} %>
      </div>          
    </div>

    <div class="row">
      <div class="form-group col-sm-6">
        <%= f.select :brand, {'Grong': 'Grong', 'MYPROTEIN': 'MYPROTEIN', 'savas': 'savas'}, { include_blank: 'ブランド'}, {class: 'form-control'} %>
      </div>
    </div>

    <div class="row border-bottom mb-4">
      <div class="form-group col-sm-6">
        <%= f.submit '検索', class: 'btn btn-primary btn-block serch-button' %>
      </div>
    </div>

  <% end %>  


<div class="serch-form">
  <%= render 'supplements', supplements: @supplements %>  
</div>
