<div class="border-bottom text-center">
  <h1>ユーザー詳細メニュー</h1>
</div>
<div>
  <ul class="nav nav-tabs nav-justified mb-3">
    <li class="nav-item"><a href="<%= menus_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(menus_user_path(@user)) %>">作成メニュー<span class="badge badge-secondary"><%= @count_menus %></span></a></li>
    <li class="nav-item"><a href="<%= likes_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(likes_user_path(@user)) %>">お気に入りサプリ <span class="badge badge-secondary"><%= @count_likes %></span></a></li>
  </ul>
  <% if @menu.any? %>
    <% @menu.each do |menu| %>
      <div class="menu-box">
        <h2 class="text-center"><%= menu.name %></h2>
        <div class="flexbox"> 
          <% menu.select_suppls.each do |suppl| %>
            <div class="item">
              <%= suppl.img.html_safe %>
            </div>
          <% end %>
        </div>
        <div class="link-btn">
          <%= link_to 'メニュー詳細', menu_url(menu), class: "btn-square" %>
        </div>
        <div class="link-btn">
        <% if current_user == menu.user %>
          <%= link_to "削除", menu, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
        <% end %>
        </div>
      </div>
    <% end %>
    <%= paginate @menu %>
  <% end %>
</div>