<section class="question-box">
  <div id="bg-img">
    <div class="animated2">
      <div class="question-text mb-5">
        <h2 class="question text-center">こんな悩みはありますか？</h1>
      </div>
      
      <div class="row">
        
        <div class="col-sm-3">
          <div class="question-flex">
            <div class="img-question mb-5">
              <img class="img-question__img" src="/assets/question.jpg" alt="">
            </div>
            <div class="text-question">
              <h4 class="text-question__header mb-4">
                何を摂ればいいのか？
              </h4>
              <p class="text-question__text">
                サプリメントの利用を考えているけど<br>
                何を摂れば良いのかがわからない
              </p>
            </div>
          </div>
        </div>
    
        <div class="col-sm-3">
          <div class="question-flex">
            <div class="img-question mb-5">
              <img class="img-question__img" src="/assets/question.jpg" alt="">
            </div>
            <div class="text-question">
              <h4 class="text-question__header mb-4">
                いつ飲めば良いのか？
              </h4>
              <p class="text-question__text">
                サプリメントを飲むようになったが<br>
                どのタイミングで飲むのが最適かわからない
              </p>
            </div>
          </div>
        </div>
        
        <div class="col-sm-3">
          <div class="question-flex">
            <div class="img-question mb-5">
              <img class="img-question__img" src="/assets/question.jpg" alt="">
            </div>
            <div class="text-question text-center">
              <h4 class="text-question__header mb-4">
                いくらかけているのか？
              </h4>
              <p class="text-question__text">
                サプリメントを購入することになったが<br>
                どれくらいのお金をかけてるかわからない
              </p>
            </div>
          </div>  
        </div>      
      </div>
    </div>    
  </div>


</section>

<div class="concept-box mb-4">
  <h1 class="quest text-center">Supplemendについて</h1>  
</div>

<section class="sec mb-4">
  <div class="flex">
    <figure class="img-container col2">
      <img class="img-container__img" src="/assets/point1-2.jpg" alt="">
    </figure>
    <div class="text-container col2">
      <h2 class="select-h2 text-left">Point1：提案</h2>
      <p class="point-text">
        ネットで調べても、どれがおすすめかわかりにくいと感じたことがあるのでは？<br>
        このアプリは、トレーニングの目的、初期費用によってサプリを提案します！！
    </div>
  </div>
</section>  
<section class="sec mb-4">
  <div class="flex">
    <div class="text-container col2">
      <h2 class="select-h2 text-left">Point2：知識</h2>
      <p class="point-text">
        サプリメントによって、飲むべきタイミングは異なります。<br>
        このアプリは、おすすめしたサプリメントの飲むタイミングまで教えます！！
    </div>
    <div class="img-container col2">
      <img class="img-container__img" src="/assets/drink3.jpg" alt="">
    </div>
  </div>
</section>  
<section class="sec">
  <div class="flex">
    <div class="img-container col2">
      <img class="img-container__img" src="/assets/print-3-2.jpg" alt="">
    </div>
    <div class="text-container col2">
      <h2 class="select-h2 text-left">Point3：管理</h2>
      <p class="point-text">
        使用しているサプリがどれくらいでなくなるかわからないですよね？<br>
        このアプリは、使用中のサプリを登録すると、残り日数を表示し使用額等の管理ができます！
    </div>
  </div>
</section>

<section class="card-box">
  <div id="bg-img">
    <div class="row mb-5">
    <% if logged_in? %>
      <div class="card col-3 text-center">
        <%= link_to(user_path(current_user), class: 'card-a') do %>
          <div class="card-header">マイページ</div>
          <div class="card-body"><i class="fas fa-portrait mypage-icon"></i></div>
        <% end %>
      </div>
    <% else %>
      <div class="card col-3 text-center">
        <%= link_to(login_path, class: 'card-a') do %>
          <div class="card-header">マイページ</div>
          <div class="card-body"><i class="fas fa-portrait mypage-icon"></i></div>
        <% end %>
      </div>
    <% end %>  
      
    <% if logged_in? %>
      <div class="card col-3 text-center">
        <%= link_to(suggestions_path, class: 'card-a') do %>
          <div class="card-header">メニュー作成</div>
          <div class="card-body"><i class="far fa-file-alt mypage-icon"></i></div>
        <% end %>
      </div>
    <% else %>
      <div class="card col-3 text-center">
        <%= link_to(login_path, class: 'card-a') do %>
          <div class="card-header">メニュー作成</div>
          <div class="card-body"><i class="far fa-file-alt mypage-icon"></i></div>
        <% end %>
      </div>
    <% end %>

      <div class="card col-3 text-center">
        <%= link_to(search_supplements_path, class: 'card-a') do %>
          <div class="card-header">商品一覧</div>
          <div class="card-body"><i class="fas fa-capsules mypage-icon"></i></div>
        <% end %>
      </div>
    </div>          
  </div>
</section>
