<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Supplemend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
  </head>

  <body>
    <header class="mb-4">
      <%= render 'layouts/navbar' %>
      <div class="header-box">
        <div class="header-img">
          <img src="/assets/header3.jpg" alt="">
        </div>
        <div class='header-content'>
          <div class="text-center">
            <h1>自分だけの<br>サプリメントメニュー</h1>
          </div>
          <div class="text-center">
            <%= link_to 'メニュー作成', suggestions_path, class: 'btn btn-lg btn-primary' %>
          </div>    
        </div>        
      </div>
    </header>
    <div class="wrapper">      
      <div class="container">
        <%= render 'layouts/flash_messages' %>
        
        <%= yield %>
      </div>
      <footer>
        <div class="container">
          <ul class="footer-menu">
            <li>home | </li>
            <li>about | </li>
            <li>service | </li>
            <li>contact</li>
          </ul>
          <p>© 2020 blog</p>
        </div>
      </footer>
    </div>
  </body>
</html>
