<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Supplemend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <link rel="stylesheet" src="/assets/animated.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
    <script type="text/javascript" src="/assets/jquery.waypoints.min.js"></script>
  </head>

  <body>
    <header>
      <div class="fixed-top">
        <nav class="navbar navbar-expand-sm navbar-dark">
          <a class="navbar-brand title" href="/">Supplemend</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item"><%= link_to 'メニュー作成', suggestions_path, class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to '商品検索', search_supplements_path, class: 'nav-link' %></li>
              <% if logged_in? %>
                <li class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= current_user.name %></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown-item"><%= link_to 'マイページ', user_path(current_user) %></li>
                    <li class="dropdown-item"><%= link_to 'マイメニュー', menus_user_path(current_user) %></li>
                    <li class="dropdown-item"><%= link_to 'お気に入り', likes_user_path(current_user) %></li>
                    <li class="dropdown-item"><%= link_to '使用中サプリ', calendars_user_path(current_user) %></li>
                    <li class="dropdown-item"><%= link_to 'ログアウト', logout_path, method: :delete, data: { confirm: '本当にログアウトしますか？' } %></li>
                    <li class="dropdown-item"><%= link_to '退会', @user, method: :delete, data: { confirm: '本当に退会しますか？' } %></li>
                  </ul>
                </li>
              <% else %>
                <li class="nav-item"><%= link_to 'アカウント作成', signup_path, class: 'nav-link' %></li>
                <li class="nav-item"><%= link_to 'ログイン', login_path, class: 'nav-link' %></li>
              <% end %>
            </ul>
          </div>
        </nav>
        
      </div>


      <div class="row header-box">
        <div class='col-md-6 header-content animated'>
            <div class="text-center">
              <h1>求めるサプリメントを提案</h1>
            </div>
            <div class="text-center explain">
              <p>Supplemendは、条件に応じたサプリメントを提案し、<br>あなたの求める理想の体型を目指すことを手助けします。</p>
            </div>
            <div class="text-center">
              <%= link_to '条件を入力', suggestions_path, class: 'btn-gradient-radius' %>
            </div>    
        </div>   
        <div class="col-md-6 header-img">
          <img src="/assets/koho4.jpg" alt="">
        </div>
      </div>
    </header>
    <div class="wrapper">    
        <%= render 'layouts/flash_messages' %>
        
        <%= yield %>
      <footer>
        <div class="container">
          <p>© 2020 supplemend</p>
        </div>
      </footer>
    </div>
  </body>
</html>
